.img{
    width: 100%;
    height: 550px;
}
.left-btn, .right-btn{
    position: absolute;
    top: 350px;
   
    
}
.right-btn{
    right: 60px;
}
.left-btn{
    left: 60px;
}
.right-btn{
    right: 60px;
}
.left-btn button, .right-btn button{
    background-color: orangered;
    color: white;
    font-size: 40px;
    cursor: pointer;
    border: none;
}
