.body{
    background-color: red;
}
.about{
    
    background-color: rgb(222, 234, 245);
}
img{
    float: left;
    margin-left: 0px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
p, ol{
    font-family: 'Poppins';
    font-weight: 400px;
    line-height: 26px;
    font-size: 16px;
    padding: 10px;
    text-align: justify;
}
